/*
Estilos de pagina ticket
*/
.onprocess-form {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
}

.onprocess-form i {
    animation: cragando 5s infinite;
}

@keyframes cragando {
    50% {
        transform: rotate(180deg);
    }
}

/*
Estilos de pagina customer
*/
.widget-customer .widget-customer-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 150px;
    padding: 1rem;
    text-align: center;
}

.widget-customer .widget-customer-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.widget-customer .widget-customer-image {
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: 100px;
}

.widget-customer .widget-customer-image > img{
    border: 3px solid #fff;
    height: auto;
    width: 90px;
}

.widget-customer .card-footer {
    padding-top: 50px;
}

/*
Formulario para crear ticket
*/
.form-create-ticket .alert-success{
    display: none;
}

.form-create-ticket .alert-error{
    display: none;
}

.modal-body .table-content-referencias{
    overflow-y: scroll;
    max-height: 360px;
}

.text-url-ticket{
    display: none;
}